<!DOCTYPE html>
<html>
    <head>
        <title>
            Template 1
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header page_divs">
            <div class="header_title_mobile">Header</div>
            <div>
                <button class="header_search_mobile">
                    <img src="../../icons/magnifying.svg" />
                </button>
                <a class="header_message_mobile">
                    <img src="../../icons/mail.svg" />
                </a>
            </div>
        </div>
        <div class="content page_divs">

        </div>
    </body>
</html>